<section>
    <div class="about-header">
        <h1>#KnowUs</h1>
        <p>Lorem ipsum dolor sit amet consectetur</p>
    </div>
    <div class="section-p1">
        <div class="about">
            <div class="about-img">
                <img src="../../../assets/img/about/a6.jpg" alt="">
            </div>
            <div class="about-text">
                <h1>Who We Are?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint alias perferendis autem quidem, 
                    voluptatum consequatur voluptas iusto totam eligendi architecto, tenetur natus. Iusto, perferendis 
                    alias doloribus explicabo assumenda aliquam blanditiis. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quis illum fuga optio qui in aliquam debitis incidunt architecto nam tenetur ipsam 
                    doloremque, iusto molestiae reprehenderit rem deserunt veniam vero dolorum. Lorem ipsum dolor sit amet
                     consectetur adipisicing elit. Illo natus repellendus, ullam tenetur eos nobis officia  nulla maxime
                      perspiciatis blanditiis, saepe fugit ab illum minima facilis dolor magnam libero nesciunt.</p>                     
                      <abbr title="">Create stuning images with as much or as little as you like thanks to a choice of Basic and Creative modes</abbr>
                      <div class="animate">
                        <p class="slide">Create stuning images with as much or as little as you like thanks to a choice of Basic and Creative modes</p>
                      </div>
            </div>
        </div>

        <div class="download margin-ml">
            <h1>Download Our <a href="#">App</a></h1>
            <div class="video">
                <video autoplay muted loop src="../../../assets/img/about/1.mp4"></video>
            </div>
        </div>

        <section class="features">
            <div class="features-box">
                <img src="../assets/img/features/f1.png" alt="">
                <h6>Free Shipping</h6>
            </div>
            <div class="features-box">
                <img src="../assets/img/features/f2.png" alt="">
                <h6>Online Order</h6>
            </div>
            <div class="features-box">
                <img src="../assets/img/features/f3.png" alt="">
                <h6>Save Money</h6>
            </div>
            <div class="features-box">
                <img src="../assets/img/features/f4.png" alt="">
                <h6>Promotions</h6>
            </div>
            <div class="features-box">
                <img src="../assets/img/features/f5.png" alt="">
                <h6>Happy Sell</h6>
            </div>
            <div class="features-box">
                <img src="../assets/img/features/f6.png" alt="">
                <h6>F24/7 Support</h6>
            </div>
          </section>

        </div>
</section>


<app-newsletter></app-newsletter>