.hero{
    background: url('../../../assets/img/hero4.png');
    background-size: cover;
    background-position: top 25% right 0;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero h1{
    color: #088178;
}

.hero h4 {
    padding-bottom: 15px;
}
.hero button{
    background-image:url('../../../assets/img/button.png');
    background-color: transparent;
    color: #088178;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    padding: 15px 80px 20px 80px;
}

@media (max-width: 799px) {
    .hero {
        background-position: top 30% right 40%;
        height: 90vh;
        width: 100%;
    }
}

@media (max-width: 477px) {
    .hero {
        padding: 0 20px;
    }
}