<div class="container">
    
  <nav id="navbar" class="navbar">
      <img src="../assets/img/logo.png" alt="">
  
      <div [class.navList]="showNav">
          <ul class="nav-list" [class.navList]="showNav">
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'Home'">Home</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'Shop'">Shop</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'Blog'">Blog</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'About'">About</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'Contact'">Contact</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" [routerLink]="'Cart'"><i class="bi bi-cart4"></i></a></li>
              <!-- <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
              <li class="nav-item"><a href="#" class="nav-l   ink"><i class="bi b   i-cart4"></i></a></li> -->
          </ul> 
      </div>

      <div class="hamburger">
          <div class="cart">
              <i class="bi bi-handbag-fill"></i>
              </div>
          <div class="icon" [class.crossIcon]="crossIcon" (click)="displayNav()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          </div>
      </div>
  </nav>    

<!-- <app-home></app-home> -->
  <router-outlet></router-outlet>

<footer class="section-p1">
  <div class="col">
      <img src="../../../assets/img/logo.png" alt="" class="logo">
      <h4>Contact</h4>
      <p><strong>Address:</strong> 562 Wellington Road Street 32 San Francisco</p>
      <p><strong>Phone:</strong> +01 222 365 /(+91) 01 2345 6789</p>
      <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
      <div class="follow">
          <h4>Follow us</h4>
          <div class="icon">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-twitter"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-youtube"></i>
          </div>
      </div>
  </div>
  <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
  </div>
  <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign in</a>
      <a href="#">View cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
  </div>
  <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
          <img src="../../../assets/img/pay/app.jpg" alt="">
          <img src="../../../assets/img/pay/play.jpg" alt="">
      </div>
      <p>Secured Payment Gateways</p>
      <img src="../../../assets/img/pay/pay.png" alt="">
  </div>
  <div class="copyright">
     <p>  © 2021, Techt2.etc-HTML CSS Ecommerce template</p>
  </div>
</footer>
</div>




                                   