<section class="blog-header">
    <h1>#readmore</h1>
    <p>Read all case studies about our products</p>
</section>

  <div class="section-p1">
    <div class="blog-details">
        <div class="blog-img section-ml">
            <img src="../../../assets/img/blog/b1.jpg" alt="">
        </div>

        <div class="blog-text section-ml">
            <h4>The Cotton-Jeresy Zip-Up Hoodie</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum porro similique 
                accusantium ratione molestias ipsum consequatur enim corporis et recusandae repellat doloribus
                 rem expedita commodi, tempore necessitatibus aliquid magnam.</p>
                 <div class="more">
                    <a href="#"><h6>CONTINUE READING</h6></a>
                    <a href="#"><div class="line"></div></a>
                 </div>
        </div>

        <div class="date">
            <h1>13/01</h1>
        </div>
    </div>

    <div class="blog-details">
        <div class="blog-img section-ml">
            <img src="../../../assets/img/blog/b4.jpg" alt="">
        </div>

        <div class="blog-text section-ml">
            <h4>How to Style a Quiff</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum porro similique 
                accusantium ratione molestias ipsum consequatur enim corporis et recusandae repellat doloribus
                 rem expedita commodi, tempore necessitatibus aliquid magnam.</p>
                 <div class="more">
                    <a href="#"><h6>CONTINUE READING</h6></a>
                    <a href="#"><div class="line"></div></a>
                 </div>
        </div>

        <div class="date">
            <h1>13/04</h1>
        </div>
    </div>

    <div class="blog-details">
        <div class="blog-img section-ml">
            <img src="../../../assets/img/blog/b3.jpg" alt="">
        </div>

        <div class="blog-text section-ml">
            <h4>Must-Have Skater Girl Items</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum porro similique 
                accusantium ratione molestias ipsum consequatur enim corporis et recusandae repellat doloribus
                 rem expedita commodi, tempore necessitatibus aliquid magnam.</p>
                 <div class="more">
                    <a href="#"><h6>CONTINUE READING</h6></a>
                    <a href="#"><div class="line"></div></a>
                 </div>
        </div>

        <div class="date">
            <h1>12/01</h1>
        </div>
    </div>

    <div class="blog-details">
        <div class="blog-img section-ml">
            <img src="../../../assets/img/blog/b5.jpg" alt="">
        </div>

        <div class="blog-text section-ml">
            <h4>Runway-Inspired Trends</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum porro similique 
                accusantium ratione molestias ipsum consequatur enim corporis et recusandae repellat doloribus
                 rem expedita commodi, tempore necessitatibus aliquid magnam.</p>
                 <div class="more">
                    <a href="#"><h6>CONTINUE READING</h6></a>
                    <a href="#"><div class="line"></div></a>
                 </div>
        </div>

        <div class="date">
            <h1>16/01</h1>
        </div>
    </div>

    <div class="blog-details">
        <div class="blog-img section-ml">
            <img src="../../../assets/img/blog/b6.jpg" alt="">
        </div>

        <div class="blog-text section-ml">
            <h4>AW20 Menswear Trends</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorum porro similique 
                accusantium ratione molestias ipsum consequatur enim corporis et recusandae repellat doloribus
                 rem expedita commodi, tempore necessitatibus aliquid magnam.</p>
                 <div class="more">
                    <a href="#"><h6>CONTINUE READING</h6></a>
                    <a href="#"><div class="line"></div></a>
                 </div>
        </div>

        <div class="date">
            <h1>10/03</h1>
        </div>
    </div>

  </div>

  <app-newsletter></app-newsletter>

    