<div class="container">

    <app-hero-section></app-hero-section>
    
    <section class="features section-p1">
      <div class="features-box">
          <img src="../assets/img/features/f1.png" alt="">
          <h6>Free Shipping</h6>
      </div>
      <div class="features-box">
          <img src="../assets/img/features/f2.png" alt="">
          <h6>Online Order</h6>
      </div>
      <div class="features-box">
          <img src="../assets/img/features/f3.png" alt="">
          <h6>Save Money</h6>
      </div>
      <div class="features-box">
          <img src="../assets/img/features/f4.png" alt="">
          <h6>Promotions</h6>
      </div>
      <div class="features-box">
          <img src="../assets/img/features/f5.png" alt="">
          <h6>Happy Sell</h6>
      </div>
      <div class="features-box">
          <img src="../assets/img/features/f6.png" alt="">
          <h6>F24/7 Support</h6>
      </div>
    </section>
    
    <app-featured-products></app-featured-products>
    
    <section class="banner section-ml">
      <h4>Repair Services</h4>
      <h2>Up to <span>70% off</span> All shirts & Accessories</h2>
      <button class="normal" >Explore More</button>
    </section>
    
    <app-new-arrivals></app-new-arrivals>
    
    <section class="md-banner section-p1">
      <div class="ban-box">
          <h4>crazy deeals</h4>
          <h2>buy 1 get 1 free</h2>
          <p>The best classic dress is on sale at cara</p>
          <button class="white">Learn More</button>
      </div>
      <div class="ban-box">
          <h4>crazy deeals</h4>
          <h2>spring/summer</h2>
          <p>The best classic dress is on sale at cara</p>
          <button class="white">Collection</button>
      </div>
    </section>
    
    <section class="sm-banner">
      <div class="sm-ban-box">
          <h2>SEASONAL SALE</h2>
          <h3>Winter Collection  -50%off</h3>
      </div>
      <div class="sm-ban-box">
          <h2>NEW FOOTWEAR COLLECTION</h2>
          <h3>spring / summer 2022</h3>
      </div>
      <div class="sm-ban-box">
          <h2>T-SHIRTS</h2>
          <h3>New Trendy Prints</h3>
      </div>
    </section>
    
    <app-newsletter></app-newsletter> 
    </div>
    